.contenedor{
    display: flex;
    flex-direction: column;/*eje principal de arriba a abajo*/
    /*flex-direction: column-reverse;*//*eje principal de abajo a arriba*/
    /*flex-direction: row-reverse;*//*invierte la direccion del eje principal*/
    /*flex-direction: row;*//*direccion por defeto del eje principal*/
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}
.caja-1{
    width: 300px;
    height: 150px;
    background-color: blue;
    font-size: 85px;
    color: white;
}

.caja-2{
    width: 300px;
    height: 150px;
    background-color: red;
    font-size: 85px;
    color: white;
}

.caja-3{
    width: 300px;
    height: 150px;
    background-color: orange;
    font-size: 85px;
    color: white;
}

.caja-4{
    width: 300px;
    height: 150px;
    background-color: purple;
    font-size: 85px;
    color: white;
}

.caja-5{
    width: 300px;
    height: 150px;
    background-color: green;
    font-size: 85px;
    color: white;
}

.caja-6{
    width: 300px;
    height: 150px;
    background-color: gray;
    font-size: 85px;
    color: white;
}